---
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="The Athena Blog" image="">
    <section>
        {posts.length ? posts.map((post) => <h1>{post.title}</h1>) : <h1>No posts</h1>}
    </section>
</Layout>
