---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Support" image="">
    <div class="space-y-2 col-span-2 m-40">
        <h1 class="text-3xl font-semibold text-slate-400 dark:text-slate-500">
          Watch this space!
        </h1>
        <h1 class="text-xl text-slate-400 dark:text-slate-500">
          Support coming soon with the full release of Athena.
        </h1>
      </div>
</Layout>
