@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sans-serif: ui-rounded, -apple-system, BlinkMacSystemFont, "Open Sans",
    "Segoe UI", Roboto, Ubuntu, sans-serif;
  font-family: var(--sans-serif);
}
h1,
h2,
h3,
h4,
h5,
p {
  opacity: 0.8;
}
#download {
  cursor: pointer;
}
#btn {
  cursor: pointer;
  white-space: nowrap;
}
#demoVideo {
  display: none;
}
.secondary-btn {
  cursor: pointer;
  display: block;
  /* padding: 4px 10px; */
}
.secondary-btn:hover {
  /* text-decoration: underline; */
  border-radius: 6px;
  /* background-color: #eeeeee; */
  color: #03aedc;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
.hiddenMobile {
  display: none;
}
.cta {
  background-color: #eeeeee;
}
.watch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #03aedc;
}
.watch:hover {
  border-radius: 6px;
  background-color: #eeeeee;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
.card {
  background-color: white;
}
@media (min-width: 768px) {
  .icon {
    transition: transform 0.1s ease-out;
    cursor: pointer;
  }
  .icon:hover {
    transform: scale(1.08);
  }
  .hiddenMobile {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    opacity: 0.9;
  }
  .watch:hover {
    background-color: rgb(27, 31, 32);
  }
  /* .secondary-btn:hover {
background-color: rgb(27, 31, 32);
} */
  .cta {
    background-color: rgb(27, 31, 32);
  }
  .card {
    background-color: #1f2529;
  }
}
