@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: '#fffff';
      border-radius: theme('borderRadius.2xl');
      padding: theme('spacing.6');
      }
  }